.navbar-brand {
	font-weight: bold;
	text-shadow: -1px 0 #7bc9ee, 0 1px #7bc9ee, 1px 0 #7bc9ee, 0 -1px #7bc9ee;
	
}

h1 {
	font-family: 'Advent Pro', sans-serif;
	
}

body {

	background-color: #e6ffff;

	}